/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

/* Structure */

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: calc(4 * 100% / 12);
}



