/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

/* Structure */

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: calc(4 * 100% / 12);
    padding: 10px;
}

.card-content{
    border: 2px dashed black;
    position: relative;
}

.card-img{
    display: block;
}

.discount, .sustain, .b-heart{
    padding: 3px;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.discount{
    background-color: red;
    color: white;
    left: 0;
    bottom: 30px;
}

.sustain{
    background-color: rgb(47, 157, 47);
    color: white;
    bottom: 30px;
    left: 40px;
}

.b-heart{
    background-color: white;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
}

.price{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.price-cout{
    text-decoration: line-through;
    color: black;
    font-weight: 400;
    font-size: small;
}


/* HOVER */

.card-hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.701);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.card-content:hover .card-hover{
    opacity: 1;
}





/* DEBUG */

.debug.card{
    border: 2px dashed black;
}